body.dashboard-page {
    display: block;
    padding: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: auto;
}

.modal-content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 5% auto;
    padding: 10px 25px;
    border-radius: 12px;
    width: 400px;
    max-width: 90;
    box-shadow: 0 5px 20 px rgba(0,0,0,0.3);
    position: relative;
}

.modal-content form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 20px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 12px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    max-width: 400px;
}