<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Writer's Workshop {% endblock%}</title>
        {% block head %}
        <link rel="stylesheet" href = "{{url_for('static', filename = 'css/styles.css')}}"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            <div class = "navbar">
                <a href = "{{url_for('main.index')}}" class = "Home-button">Home</a>
                <a href = "{{url_for('main.dashboard')}}" class = "dashboard-button">Dashboard</a>
                <a href = "{{url_for('main.logout')}}" class="logout-button">Logout</a>
            </div>
            <div class = "welcome-message">
            <h1>Writer's Workshop</h1>
            </div>
            {% if current_user.is_authenticated %}
            <p>Logged in as {{current_user.username}}</p>
            {% endif %}
  
        </header>
        <main>
            {% block content %}
            <p>This is the main home page</p>
            {% endblock %}
            {% block scripts %}{% endblock %}
        </main>
    </body>
</html>